* {
  margin: 0;
}

body {
  background-color: #f8f4f1;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr 10vw 1fr 10vw 1fr 10vw 1fr minmax(80px, 10vw);
  grid-auto-rows: auto;
  background-color: #d0b895;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
}

header h1 {
  color: #4d3e2e;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  display: flex;
  background-color: #fa8405;
  width: 10vw;
  text-decoration: none;
  justify-content: end;
}

#bestallning {
  min-width: 80px;
}

a:hover {
  background-color: #c96a04;
  text-decoration: underline;
  text-decoration-color: #4d3e2e;
}

p {
  color: #4d3e2e;
}

.mid-row {
  margin-left: 15vw;
  margin-right: 15vw;
}
