* {
  margin: 0;
}

body {
  background-color: #f8f4f1;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #d0b895;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
}

header h1 {
  color: #4d3e2e;
  margin-right: 3vw;
  width: 90px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  display: flex;
  background-color: #fa8405;
  width: 10vw;
  min-width: 90px;
  text-decoration: none;
  justify-content: end;
  margin-right: 3vw;
}

#beställningLänk {
  margin-right: 0;
}

a:hover {
  background-color: #c96a04;
  text-decoration: underline;
  text-decoration-color: #4d3e2e;
}

p {
  color: #4d3e2e;
}

.mid-row {
  margin-left: 15vw;
  margin-right: 15vw;
}

#meny {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(150px, 20vw);
}

.right-center {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.left-center {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  margin-right: 5vw;
}

.img{
  width: 20vw;
  min-width: 150px;
}

.beställKnapp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa8405;
  width: 7vw;
  min-width: 70px;
  height: 40px;
  margin-left: 20px;
}

.beställKnapp:hover {
  background-color: #c96a04;
  text-decoration: underline;
  text-decoration-color: #4d3e2e;
}

#beställning {
  display: flex;
  flex-wrap: wrap;
}

#beställning .img {
  margin-bottom: 20px;
  margin-right: 20px;
}

#beställningsMeny {
  display: grid;
  width: 45vw;
  min-width: 200px;
  grid-template-rows: auto;
  grid-template-columns: auto minmax(70px, 10%);
}

#beställningsMeny p {
  margin-bottom: 20px;
}

